[Desktop Entry]
Name=Trellium Solid

X-KDE-PluginInfo-Author=Andi Berger
X-KDE-PluginInfo-Email=andi.berger@yandex.com
X-KDE-PluginInfo-Name=TrelliumSolid
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Depends=KDE 5.8.6
X-KDE-PluginInfo-License=GPLv3
