#panel {
        color: #aaaaaa;
        margin: 0px;
        border: 3px;
        border-image: url(background.svg) 3 3 3 3 stretch stretch;
        padding: 1px;
}


#commandList {
       	margin: 0px;
        margin-top: -2px;
        border: 3px;
        border-image: url(background.svg) 3 3 3 3 stretch stretch;
        padding: 1px;
	qproperty-alternatingRowColors: false;
}
